<ion-header>
  <ion-navbar>
    <ion-title>
      {{titleText}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-grid fixed>

    <form >
        
        <ion-item>
            <ion-label>Category</ion-label>
            <ion-select [(ngModel)]="categoryName" name="categoryName">
              <ion-option *ngFor="let category of categories" [value]="category.getCategoryName()">{{category.getCategoryName()}}</ion-option>
            </ion-select>
          </ion-item>
        <ion-item>
          <ion-label>Account</ion-label>
          <ion-input type="text" [(ngModel)]="usedAccount" name="usedAccount"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea [(ngModel)]="description" name="description"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>cost</ion-label>
           <ion-input type="number"[(ngModel)]="cost" name="cost"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>tags</ion-label>
          <ion-input type="text" [(ngModel)]="newTag" name="newTag"></ion-input>
          
        </ion-item>
        <button ion-button color="dark" (click)="addTag()">addTag</button>
        <ion-scroll style="height:30vh">
          <ion-chip *ngFor="let tag of tags; let i = index">
            <ion-label>{{tag.tagName}}</ion-label>
            <button ion-button clear color="dark" (click)="deleteTag(i)">
              <ion-icon name="close-circle"></ion-icon>
            </button>
          </ion-chip>
        </ion-scroll>
    
        <button ion-button (click)="addExpense()" block>Add expense</button>
      </form>
    
    
  
</ion-grid>
  

</ion-content>
