progress-bar {

    .wrapper {
     
    }
  .progress-outer {
        width: 96%;
        text-align: center;
        background-color: #f4f4f4;
        color: #fff;
        border-radius: 20px;
    }
 
    .progress-inner {
        white-space: nowrap;
        overflow: hidden;
        border-radius: 20px;
        background-color: map-get($colors, primary);
    }
}
