<ion-header>
  <ion-item color="tertiary">
    <ion-datetime displayFormat="MMMM YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="selectedDate" (ionChange)="updateDate()"></ion-datetime>
  </ion-item>
</ion-header>

<ion-content padding>
  <ion-grid fixed>


    <ion-card>
      <ion-item-divider color="primary">
        Accounts
        <button float-right ion-button icon-only item-end no-padding clear color="white" (click)="addCategoryModal()">
          <ion-icon name="options"></ion-icon>
        </button>

        <button float-right ion-button icon-only item-end no-padding clear color="white" (click)="addCategoryModal()">
          <ion-icon name="add-circle"></ion-icon>
        </button>


      </ion-item-divider>
      <ion-list class="customScroll">
        <ion-item-sliding *ngFor="let account of accounts">
          <button ion-item (click)="accountsDetailPage(account)">
            <ion-icon [name]="account.getIconName()" item-start></ion-icon>
            {{account.accountName}}
            <ion-badge item-end>{{account.getInitialBalance()}}</ion-badge>
            <ion-badge item-end>{{account.getFinalBalance()}}</ion-badge>
          </button>
          <ion-item-options side="right">
            <button ion-button color="dark">
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
          </ion-item-options>
          <ion-item-options side="left">
            <button ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>



    </ion-card>







    <ion-card>

      <ion-item-divider color="primary">
        Categories
        <button float-right ion-button icon-only item-end no-padding clear color="white" (click)="addCategoryModal()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-item-divider>

      <ion-list class="customScroll">

        <div *ngFor="let category of categories">
          <ion-item-sliding >
          <button ion-item (click)="showCategoryDetails(category)">
            <ion-icon [name]="category.getIconName()" item-start></ion-icon>
            {{category.getCategoryName()}}
            <ion-badge item-end>{{category.getBudget().currentAmountSpent}}</ion-badge>
          </button>
          <ion-item-options side="right">
              <button ion-button color="dark" (click)="showCategoryOptions(category)">
                <ion-icon name="create"></ion-icon>
                Edit
              </button>
            </ion-item-options>
            <ion-item-options side="left">
                <button ion-button color="danger">
                  <ion-icon name="trash"></ion-icon>
                  Delete
                </button>
              </ion-item-options>
        
        </ion-item-sliding>
          <div *ngIf="category.getBudget().isBeingTracked()">
            <button ion-item>
              <ion-label>
                <progress-bar [progress]="loadProgress(category.getBudget())"></progress-bar>
              </ion-label>
              <ion-badge item-end>{{category.getBudget().getRemainingAmount()}}</ion-badge>
            </button>
          </div>


        
</div>
      </ion-list>

    </ion-card>


    <ion-card>
      <ion-item-divider color="primary">
        Expenses
        <button float-right ion-button icon-only item-end no-padding clear color="white" (click)="addCategoryModal()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-item-divider>


      <ion-list class="customScroll">
        <ion-item-sliding *ngFor="let expense of expenses">
          <button ion-item (click)="detailExpenseModal(expense, false)">
            <ion-icon [name]="expense.getIconName() " item-start></ion-icon>
            {{expense.getDescription()}}

            <ion-badge item-end>{{expense.getCost()}}</ion-badge>
          </button>

          <ion-item-options side="right">
            <button ion-button color="dark" (click)="detailExpenseModal(expense, true)">
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
          </ion-item-options>
          <ion-item-options side="left">
              <button ion-button color="danger">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-item-options>

        </ion-item-sliding>
      </ion-list>




    </ion-card>

  </ion-grid>

  <ion-fab bottom right>
    <button color="tertiary" ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button (click)="transferAccountsModal()" ion-fab icon-only>
        <ion-icon name="swap"></ion-icon>
      </button>
      <button (click)="transferExternalAccountsModal() " ion-fab icon-only>
        <ion-icon name="gift"></ion-icon>
      </button>
      <button (click)="addExpenseModal()" ion-fab icon-only>
        <ion-icon name="card"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
