<ion-header>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="selectedDate" (ionChange)="updateDate()"></ion-datetime>
  </ion-item>
</ion-header>

<ion-content padding>
  <ion-grid fixed>


    <ion-card>
      <ion-item>
        <ion-card-header>Accounts</ion-card-header>
        <button ion-button icon-only item-end large (click)="addAccountModal()">
          <ion-icon name="add"></ion-icon>
        </button>
        <button ion-button icon-only item-end large (click)="transferAccountsModal()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>
      <ion-scroll style="height:30vh" padding>
        <ion-list>
          <ion-item-sliding *ngFor="let account of accounts">
            <button ion-item (click)="accountsDetailPage(account)">
              <ion-icon name="cafe" item-start></ion-icon>
              {{account.accountName}}

              <ion-badge item-end>{{account.getInitialBalance()}}</ion-badge>
              <ion-badge item-end>{{account.getFinalBalance()}}</ion-badge>
            </button>

            <ion-item-options side="right">
              <button ion-button>delete</button>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>

      </ion-scroll>

    </ion-card>







    <ion-card>
      <ion-item>
        <ion-card-header>Categories</ion-card-header>
        <button ion-button icon-only item-end large (click)="addCategoryModal()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>

      <ion-list>
        <div *ngFor="let category of categories">

          <button ion-item (click)="showCategoryDetails(category)">
            <ion-icon name="cafe" item-start></ion-icon>
            {{category.getCategoryName()}}
            <ion-badge item-end>{{category.getBudget().currentAmountSpent}}</ion-badge>
          </button>

          <div *ngIf="category.getBudget().isBeingTracked()">
            <button ion-item>
              <ion-label>
                <progress-bar [progress]="loadProgress()"></progress-bar>
              </ion-label>
              <ion-badge item-end>{{category.getBudget().getRemainingAmount()}}</ion-badge>
            </button>
          </div>
        </div>

      </ion-list>
    </ion-card>


    <ion-card>
      <ion-item>
        <ion-card-header>Expenses</ion-card-header>
        <button ion-button icon-only item-end large (click)="addExpenseModal()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>
      <ion-scroll style="height:30vh" padding>
        <ion-list>
          <ion-item-sliding *ngFor="let expense of expenses">
            <button ion-item (click)="detailExpenseModal(expense, false)">
              <ion-icon name="cafe" item-start></ion-icon>
              {{expense.getDescription()}}

              <ion-badge item-end>{{expense.getCost()}}</ion-badge>
            </button>

            <ion-item-options side="right">
              <button ion-button (click)="detailExpenseModal(expense, true)">edit</button>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>

      </ion-scroll>

    </ion-card>

  </ion-grid>

  <button ion-button (click)="addExpenseModal()">add expense</button>

</ion-content>
