page-chart-overview {

    // https://codepen.io/michiel-huiskens/pen/RRaRRv
    // todo: refactor in grid? looks nice now but needs responsiveness
    .chart-container {
        position: relative;
        margin: auto;
        height: 100vh;
        width: 80vw;
      }

      #chartjs-legend li {
        margin: 10px 4px;
      }
      #chartjs-legend li span {
        position:relative;
        padding: 6px 20px ;

        border-radius:13px ;
        color:white ;
        z-index:2 ;
      }

      ul {
        list-style: none;
        margin:0;
        margin-bottom: 20px;
        padding:0;
        text-align:center;
      }
      li {
        display: inline-table;
      }
}
