page-chart-overview {

    .chart-container {
        position: relative;
        margin: auto;
        height: 100vh;
        width: 80vw;
      }

      // https://codepen.io/michiel-huiskens/pen/RRaRRv --- custom legend if needed

}
