page-expense-detail {
  .item-select-disabled ion-label {
    opacity: 1;
  }
  .item-datetime-disabled ion-label {
    opacity: 1
  }

  ion-tags-input {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 14px;
    
  }

  .borderless {
    border-bottom-width: 0px;
  }

}
